main section form{
    color: map-get($map:$paleta, $key: "cuatro" );
    font-family: $mainFont;
    font-size: 1.115em;
    line-height: 1.2;
    font-weight: 400;
    background-color: rgb(11, 11, 13, 0.99);
}



.box__section-rounded{
    @extend .box__section;
    border-radius: 5px;
}