@media only screen and (min-width: 350px) {
    .contenedorExtras{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav"
        "header"
        "extras"
        "pie";
    
    }
    #mainNav{
        grid-area: nav;
    }
    
    #header{
        grid-area: header;
    }
    
    #footer{
        grid-area: pie;
    }

.extras__section{
    width: 40%;
    height: auto;
    margin: 50px auto;
    padding: 30px ;
    border: solid map-get($map: $paleta , $key: "cuatro" ) 3px;
    overflow-y: auto;
    
}

#hamburguesasExtras h1,
#hamburguesasExtras h2{
    font-size: 2em;
    text-align: center;
    padding: 20px 0px;
    background-color: rgba(11, 11, 13, 0.99);
    font-family: $mainFont;
    margin: 20px 0px;
    grid-area: extras;
    
}

#hamburguesasExtras .galeria{
    @include flex(row, space-around, center,wrap);
    margin: 20px;

    figure{
        text-align: center;
    }
    figure img{
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    figure figcaption{
        font-size: 1.5em;
        color: map-get($map:$paleta , $key: "cuatro" ) ;
        padding: 10px 5px;
        background-color: $secondaryColor;
    }
    p.precio{
        color: map-get($map:$paleta , $key: "cuatro" );
        padding-bottom: 10px;
        background-color: map-get($map:$paleta , $key: "dos" );
    }
}

.hamburguesasAside{
    width: 20vw;
    height: 12vw;
    margin: 50px auto;
    padding: 30px ;
    border: solid map-get($map:$paleta , $key: "cuatro" ) 3px;
    overflow-y: auto;
            
}

.degrade-oscuro{
     background: linear-gradient(to top, grey, black)

}
.transform:hover{
     transform: translateX(10px);
     transition: transform 1s;
}
@media only screen and (min-width: 1200px) {

    .botonera{
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
}
.contenedorExtras{
    grid-template-columns: 70vw 30vw;
    grid-gap: 15px;
    grid-template-areas: 
    "nav nav"
    "header header"
    "extras extras"
    "extras extras"
    "pie pie";
 }
#aside{
     justify-content: center;
 }
}
}