.box__section{
    width: 55%;
    height: auto;
    margin: 50px auto;
    padding: 30px ;
    border: solid $mainColor 3px;
    overflow-y: auto;
    
}


.box__section-rounded{
    @extend .box__section;
    border-radius: 5px;
}