//google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
$mainFont: 'Roboto', sans-serif;
$mainColor: "rgb (242, 160, 7)";
$secondaryColor: "rgb(128, 128, 128)"; 
$black: "rgb(11, 11, 13)";

$fontSm: 1.2em;
$sontMd: 1.3em;
$fontLg: 1.5em;
$fontXl: 2em;

