@media only screen and (min-width: 350px) {
.contenedorHam{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "ham"
    "aside"
    "pie";

}
#mainNav{
    grid-area: nav;
}

#header{
    grid-area: header;
}

#aside{
    grid-area: aside;
}
#footer{
    grid-area: pie;
}
#ham{
    grid-area: ham;
    
}
#ham h1,
#ham h2{
    font-size: 2em;
    text-align: center;
    padding: 20px 0px;
    background-color: rgba(11, 11, 13, 0.99);
    font-family: $mainFont;
    margin: 20px 0px;

}
#ham .galeria figure{
    text-align: center;
    figure img{
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    figure figcaption{
        font-size: 1.5em;
            color: $mainColor;
            padding: 10px 5px;
            margin: 5px;
        
            background-color: $secondaryColor;

    }
    p.precio{
        color: $mainColor;
        padding-bottom: 10px;
        background-color: rgba(11, 11, 13, 0.99);

    }
}

.hamburguesas__section{
    width: 50%;
    height: auto;
    margin: 50px auto;
    padding: 30px ;
    border: solid $mainColor 3px;
    overflow-y: auto;
                
 }
 
            
.hamburguesasAside{
    width: 20vw;
    height: 12vw;
    margin: 50px auto;
    padding: 30px ;
    border: solid $mainColor 3px;
    overflow-y: auto;
                        
}
            
@media only screen and (min-width: 1200px) {

    .botonera{
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
}
.contenedorHam{
    grid-template-columns: 70vw 30vw;
    grid-gap: 15px;
    grid-template-areas: 
    "nav nav"
    "header header"
    "ham aside"
    "ham aside"
    "pie pie";
 }
#aside{
     justify-content: center;
 }
}
}