
.nosotros__section{
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 30px ;
    border: $mainColor 3px;
    overflow-y: auto;
    
}

.mapa__section{
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 30px ;
    border: $mainColor 3px;
    overflow-y: auto;
    
}
