@media only screen and (min-width: 350px) {
    .contenedorPedido{
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "pie";
    
    }
    #mainNav{
        grid-area: nav;
    }
    
    #header{
        grid-area: header;
    }
    
    #footer{
        grid-area: pie;
    }

    #mainPedido{
        grid-area: main;
    }

.box__section{
    width: 55%;
    height: auto;
    margin: 50px auto;
    padding: 30px ;
    border: solid $mainColor 3px;
    overflow-y: auto;
    
}


.box__section-rounded{
    @extend .box__section;
    border-radius: 5px;
}
@media only screen and (min-width: 1200px) {

    .botonera{
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
}
.contenedorPedido{
    grid-template-columns: 70vw 30vw;
    grid-gap: 15px;
    grid-template-areas: 
    "nav nav"
    "header header"
    "main main"
    "main main"
    "pie pie";
 }

}
}